<%- include("./partials/header.ejs") %>

  <body>
    <div class="ui container fluid custom-home-bg" id="home-container">
      <%- include("./partials/navbar.ejs") %>


        <div class="ui left demo vertical inverted sidebar labeled icon menu">
          <a class="item">
            <i class="icon gamepad"></i>
            Gaming
          </a>
          <a class="item">
            <i class="tv icon"></i>
            Streaming
          </a>

        </div>
        <div class="dashboard_image_div">
          <img src="/public/images/khoma.png" alt="" class="ui circular image" style="max-height:250px;">
        </div>
        <div class="dashboard_name_div">
          <br><br><br>
          <div class="ui header">
            <span class="custom_header_name_dashboard">Name</span>
          </div>
        </div>


        <div class="ui equal width center alligned padded grid">
          <div class="row">
            <div class="four wide column">

            </div>
            <div class="eight wide column">






              <%if(data.showUserInfo.length==0){ %>



                <table class="ui selectable inverted table" style="opacity:  0.95;">
                  <thead>
                    <tr>
                      <th colspan="3" style="text-align: center;">
                        Edit your Personal Information
                      </th>
                    </tr>
                  </thead>
                </table>

                <form class="ui form" action="/account-info" method="POST">
                  <div class="fields">
                    <div class="field">
                      <label style="color: rgb(255, 255, 255);">First name</label>
                      <input type="text" placeholder="First Name" name="fName">
                    </div>
                    <div class="field">
                      <label style="color: rgb(255, 255, 255);">Last Name</label>
                      <input type="text" placeholder="last Name" name="lName">
                    </div>
                    <div class="field">
                      <label style="color: rgb(255, 255, 255);">Date of Birth</label>
                      <input type="date" placeholder="Date of Birth" name="dob">
                    </div>
                    <div class="field">
                      <label style="color: rgb(255, 255, 255);">Phone</label>
                      <input type="text" placeholder="Phone" name="phone">
                    </div>
                  </div>
                  <div class="field">
                    <button class="ui secondary button">
                      Create Profile Info
                    </button>
                  </div>
                </form>
                <% }else{ data.showUserInfo.forEach(userInfo=> { %>

                  <table class="ui selectable inverted table" style="opacity:  0.95;">
                    <thead>
                      <tr>
                        <th colspan="3" style="text-align: center;">
                          Personal Information
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="collapsing">
                          First Name
                        </td>
                        <td>
                          <%= userInfo.first_name %>
                        </td>
                        <!-- <td class="right aligned collapsing"><a>Edit</a></td> -->
                      </tr>
                      <tr>
                        <td>
                          Last Name
                        </td>
                        <td>
                          <%= userInfo.last_name %>
                        </td>
                        <!-- <td class="right aligned"><a>Edit</a></td> -->
                      </tr>
                      <tr>
                        <td>
                          Date o Birth
                        </td>
                        <td>
                          <%= userInfo.dob %>
                        </td>
                        <!-- <td class="right aligned"><a>Edit</a></td> -->
                      </tr>
                      <tr>
                        <td>
                          Phone
                        </td>
                        <td>
                          <%= userInfo.phone %>
                        </td>
                        <!-- <td class="right aligned"><a>Edit</a></td> -->
                      </tr>
                      <tr>
                        <td>
                          Currency
                        </td>
                        <td>
                          <%= userInfo.currency %>
                        </td>
                        <!-- <td class="right aligned"><a>Edit</a></td> -->
                      </tr>
                    </tbody>
                  </table>
                  <% }); } %>


            </div>
            <div class="four wide column">

            </div>
          </div>
        </div>


  </body>

  </html>
  <%- include("./partials/footer.ejs") %>