<%- include("./partials/header.ejs") %>

  <body>
    <div class="ui container fluid custom-home-bg" id="home-container">
        <%- include("./partials/navbar.ejs") %>
    
    
        <div class="ui left demo vertical inverted sidebar labeled icon menu">
          <a class="item">
            <i class="icon gamepad"></i>
            Gaming
          </a>
          <a class="item">
            <i class="tv icon"></i>
            Streaming
          </a>
    
        </div>
        <div class="dashboard_image_div">
          <img src="../public/images/khoma.png" alt="" class="ui circular image" style="max-height:250px;">
        </div>
        <div class="dashboard_name_div">
          <br><br><br>
          <div class="ui header">
            <span class="custom_header_name_dashboard">Name</span>
          </div>
        </div>
    

        <div class="dashboard_createpost">
          <br><br><br>
          <div class="ui header">
            <button class="ui black button">Create New Post</button> 
          </div>
        </div>
    
        <br>
        <br>
        <div class="ui page grid">
    
          <div class="four wide column">
            <div class="ui card">
              <div class="content">
                <div class="header">Currency</div>
                <div class="meta">
                  <!-- <span>2 days ago</span> -->
                  <b><a id="curr">getting...</a></b>
                </div>
                <p></p>
              </div>
            </div>
    
          </div>
          <div class="four wide column">
    
            <div class="ui card">
              <div class="content">
                <div class="header">Earned | Sold</div>
                <div class="meta">
                  <!-- <span>2 days ago</span> -->
                  <b><a>
                    <% if (data.dashboardEarned.length==0) { %>
                      <%=  console.log("0") %>
                      <% } else {%>
                        <%= data.dashboardEarned[0].earn %></a></b>
                      <%} %>
                </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="four wide column">
    
            <div class="ui card">
              <div class="content">
                <div class="header">Conferred | Paid</div>
                <div class="meta">
                  <!-- <span>2 days ago</span> -->
                  <b><a><%= data.dashboardPaid[0].pay %></a></b>
                </div>
                <p></p>
              </div>
            </div>
    
          </div>
          <div class="four wide column">
    
            <div class="ui card">
              <div class="content">
                <div class="header">Total posts</div>
                <div class="meta">
                  <!-- <span>2 days ago</span> -->
                  <b><a><%= data.dashboardTotalPost[0].totalPost %></a></b>
                </div>
                <p></p>
              </div>
            </div>
          </div>
          <!-- <div class="four wide column"></div>
          <div class="four wide column"></div>
          <div class="four wide column"></div>
          <div class="four wide column"></div> -->
        </div>


        <script>
          let xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                  let myObj = JSON.parse(this.responseText);
                  if(myObj.data.dashboardCurrency.length==0) {
                    document.getElementById("curr").innerHTML = 0;
                  } else {
                    document.getElementById("curr").innerHTML ="$" + myObj.data.dashboardCurrency[0].currency;
                  }
                  
                  console.log(myObj);
              }
          };
          xmlhttp.open("GET", "http://localhost:3000/dashboard-data"
              , true);
          xmlhttp.send();
        </script>
    <!--     
    
        <table class="ui selectable inverted table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Status</th>
              <th class="right aligned">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Currency</td>
              <td>400Tk BDT</td>
              <td class="right aligned">None</td>
            </tr>
            <tr>
              <td>Earnings or Sold</td>
              <td>1500Tk BDT</td>
              <td class="right aligned">Requires call</td>
            </tr>
            <tr>
              <td>Debt/Yet to pay</td>
              <td>250Tk BDT</td>
              <td class="right aligned">None</td>
            </tr>
          </tbody>
        </table> -->

  </body>

  </html>
  <%- include("./partials/footer.ejs") %>