<%- include("./partials/header.ejs") %> 

<body>
  <div class="ui container fluid custom-home-bg" id="home-container">
    <%- include("./partials/navbar.ejs") %> 
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="icon gamepad"></i>
        Gaming
      </a>
      <a class="item">
        <i class="tv icon"></i>
        Streaming
      </a>

    </div>
    <div class="ui equal width center aligned padded grid">
      <div class="row">

      </div>
      <div class="row">
        <!-- <div class="column ">
          <div class="ui huge header"><span class="custom-header">Share ID</span> <br> One stop to buy you desired
            accounts</div>
        </div> -->
        <div class="column">

        </div>
      </div>
      <div class="row">
        <!-- <div class="column">Custom Row</div> -->
      </div>

    </div>
    <div class="ui container">
      <div class="ui grid">
        <div class="row">
          <div class="four wide column"></div>
          <div class="eight wide column">
            <div id="create-post-header">
              <span>Update post</span>
            </div>
          </div>
          <div class="ui four wide column"></div>
        </div>
        <div class="row" id="custom_create-post-row">
          <div class="two wide column"></div>
          <div class="twelve wide column">
            <div class="ui huge header"><span>Update your post</span></div>
            <form class="ui form" action="/editpost/<%= data.post[0].pid %>" method="post">
              <div class="inline fields">
                <div class="sixteen wide field">
                  <label>Title</label>
                  <input id="title1" type="text" placeholder="Enter your post title" name="title">
                </div>
              </div>
              <div class="inline fields">
                <label for="category">Category</label>

                <select value="<%= data.post[0].cat %>" name="category" class="ui selection dropdown">
                  <option name="" id="" value="1" selected >Gaming</option>
                  <option name="" id="" value="2">Streaming</option>

                </select>
              </div>
              <div class="inline fields">
                <div class="sixteen wide field">
                  <label>Price</label>
                  <input id = "price2" type="text" placeholder="Enter your price" name="price">
                </div>
              </div>
              <div class="inline fields">
                <div class="sixteen wide field">
                  <label>Username</label>
                  <input id= "username2" type="text" placeholder="Enter your username" name="username">
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <textarea id="description2" placeholder="Add description" name="description"></textarea>
              </div>
              <div class="inline fields">
                <div class="sixteen wide field">
                  <label>Tags</label>
                  <input id="tags2" type="text" placeholder="Enter tags" name="tags" >
                </div>
              </div>
              <Button class="ui fluid primary button">Update Post</Button>
            </form>
            
          </div>
        </div>
        <div class="two wide column"></div>
      </div>
    </div>
  </div>

  </div>
  
  
  <script>
    let xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            let myObj = JSON.parse(this.responseText);
            document.getElementById("title1").value = myObj.data.post[0].title;
            document.getElementById("price2").value = myObj.data.post[0].price;
            document.getElementById("username2").value = myObj.data.post[0].puser_name;
            document.getElementById("description2").value = myObj.data.post[0].description;
            document.getElementById("tags2").value = myObj.data.post[0].tag;
            // console.log("ggg");
             console.log("amit",myObj.data.post[0].pid)
        }
    };
    xmlhttp.open("GET", "http://localhost:3000/editpost-info/<%= data.post[0].pid %>"
        , true);
    xmlhttp.send();
    // fetch('http://localhost:3000/payform-info')
    //     .then(response => response.json())
    //     .then(json => {
    //     // document.getElementById("content").innerHTML = JSON.stringify(json);
    //     console.log(json)
    // console.log(json)
    // })
</script>


</body>

<%- include("./partials/footer.ejs") %> 